<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Gestione</title>
    <link rel="stylesheet" href="/stile_admin.css">
</head>
<body>

<header>
    <!-- Logo sopra i tasti -->
    <div class="logo-home">
        <a href="/" id="logo">
            <img src="/logo.png" alt="Logo SiwBooks" />
        </a>
    </div>
	


    <!-- Sezione con i tasti -->
    <div class="buttons-container">
        <a href="/admin/modificaLibri" class="button 1">Modifica libreria</a>
        <a href="/admin/modificaAutori" class="button 2">Modifica autori</a>
        <a href="/admin/recensioni" class="button 3">Visualizza recensioni</a>
		<a href="/admin/utenti" class="button 4">Visualizza utenti</a>
    </div>

    <!-- Login -->
    <div class="login-container" style="text-align: center; margin-top: 20px;">

        <a href="/logout" class="button" style="background-color: rgb(128, 0, 64);">Logout</a>
    </div>
</header>

<div class="content">
    <h1 style="text-align: center; margin-top: 50px;">Benvenuto nella pagina di gestione</h1>
</div>

</body>
</html>
