<!DOCTYPE html>
<html>
	<head>
		<title>Recensioni</title>
		<link rel="stylesheet" href="/stile_elenco.css"/>
	</head>
	<body>
		<a id="logo" href="/"> <img src="/logo.png"> </a>
		
		<div class="form-container">
			<h1 th:if="${!recensioni.isEmpty()}">Elenco recensioni</h1>
			<!-- Modulo di ordinamento -->
			<form action="/admin/ordinaRecensioni" method="GET">
				<label for="ordine">Ordina per:</label>
					<select id="ordine" name="ordine">
						<option value="voto">Voto</option>
						<option value="data">Data</option>
					</select>
				<label for="tipoRicerca">Ricerca per:</label>
					<select id="tipoRicerca" name="tipoRicerca">
						<option value="ascendente">Ascendente</option>
						<option value="discendente">Discendente</option>
					</select>
				<button type="submit">Ordina</button>
			</form>

			<span th:if="${recensioni.isEmpty()}">Non ci sono recensioni</span>
			<span th:if="${numero}" th:text="'sono stati trovati ' + ${numero} + ' elementi'"></span>
		</div>
		<div id="lista">
			<ul>
				<li class="recensione" th:each="recensione:${recensioni}">
					<h2><a class="titolo" th:href="@{'/libro/' + ${recensione.libro.id}}" th:text="${recensione.libro.titolo}"></a></h2>
					<h3 th:text="${recensione.titolo} + ' - Voto:' + ${recensione.voto} + '/5'"></h3><br>
					<p th:text="${recensione.testo}"></p><br>
					<p>scritta da: <a th:href="@{'/admin/utente/' + ${recensione.utente.id}}" th:text="${recensione.utente.credenziali.username}"></a></p>
					<p th:text="'il: ' + ${recensione.data}"></p>
					<hr>
					<p><a class="cancella" th:href="@{'/admin/cancellaRecensione/' + ${recensione.id}}">Cancella</a></p>
				</li>
			</ul>
		</div>
	</body>
</html>