<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stile_log.css"/>
    <title>Modifica Password</title>
</head>
<body>
	<a id="logo" href="/"><img src="/logo.png" /></a>
<div class="form-container">
    <form th:action="@{'/utente/modificaPassword/' + ${utente.id}}" method="post">
		<h1>Modifica la tua password</h1>
        <div>
            <label for="vecchiaPassword">Vecchia Password:</label>
            <input type="password" id="vecchiaPassword" name="vecchiaPassword" required
                   placeholder="Inserisci la vecchia password">
        </div>
        <div>
            <label for="nuovaPassword">Nuova Password:</label>
            <input type="password" id="nuovaPassword" name="nuovaPassword" required
                   placeholder="Inserisci la nuova password">
        </div>
        <div>
            <label for="confermaPassword">Conferma Nuova Password:</label>
            <input type="password" id="confermaPassword" name="confermaPassword" required
                   placeholder="Conferma la nuova password">
        </div>
        <div>
            <button type="submit">Modifica Password</button>
			<a href="/utente"> <button id="annulla" type="button">Annulla</button></a>
        </div>
		<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
	</form>
	</div>
    
</body>
</html>