<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Modifica Utente</title>
	<link rel="stylesheet" href="/stile_log.css">
</head>

<body>
	<a id="logo" href="/"><img src="/logo.png" /></a>
	<div class="form-container">
		<!-- Usa th:object per associare il form all'oggetto prodotto -->
		<form th:action="@{'/utente/modifica/' + ${utente.id}}" th:object="${utente}" method="POST"
			enctype="multipart/form-data">
			<h1>Modifica Utente</h1>
			<span>*se lasciato vuoto verrà mantenuto il valore precedente</span>
			<label for="nome"><strong>Nome*:</strong></label>
			<!-- Usa th:field per il binding automatico -->
			<input type="text" id="nome" placeholder="Modifica nome" th:field="${utente.nome}">

			<label for="cognome"><strong>Cognome:</strong></label>
			<input type="text" id="cognome" placeholder="Modifica cognome" th:field="${utente.cognome}">

			<label for="email"><strong>Email*:</strong></label>
			<input type="email" id="email" placeholder="Modifica email" th:field="${utente.email}">

			<label for="numeroTelefonico"><strong>Numero di telefono*:</strong></label>
			<input type="text" id="telefono" placeholder="Modifica numero di telefono"
				th:field="${utente.numeroTelefonico}">

			<div class="pulsanti-mod">
				<button type="submit">Salva modifiche</button>
				<a href="/utente"> <button id="annulla" type="button">Annulla</button></a>
			</div>
			<!-- Visualizza gli errori di validazione -->
			<div th:if="${#fields.hasErrors('*')}" style="color:red">
				<p th:each="e : ${#fields.errors('*')}" th:text="${e}">Errore</p>
			</div>
			<div class="error" th:if="${errorMessage}">
				<p th:text="${errorMessage}"></p>
			</div>

		</form>
	</div>


</body>

</html>