<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Profilo Utente</title>
  <link rel="stylesheet" href="/stile_log.css"/>
</head>
<body>
	<a id="logo" href="/"><img src="/logo.png" /></a>
  <div class="contenitore">
    <h1>Profilo Utente</h1>
    <!-- Dettagli dell'utente -->
    <div class="dettagli">
		<p><strong>Username:</strong> <span th:text="${utente.credenziali.username}"></span></p>
      <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
      <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
      <p><strong>Email:</strong> <span th:text="${utente.email}"></span></p>
      <p><strong>Telefono:</strong> <span th:text="${utente.numeroTelefonico}"></span></p>
    </div>

    <!-- Azioni -->
    <div class="pulsanti">
      <a href="/recensione/recensioni"><button>Visualizza le tue recensioni</button></a>
	  <a href="/recensione/new"><button>Scrivi una recensione</button></a>
      <a th:href="@{'/utente/modifica/' + ${utente.id}}" class="btn btn-modifica"><button>Modifica i tuoi dati</button></a>
	  <a th:href="@{'/utente/modificaPassword/' + ${utente.id}}" class="btn btn-modifica"><button>Modifica password</button></a>
    </div>
	<div class="error" th:if="${errorMessage}">
			<p th:text="${errorMessage}"></p>
		</div>
  </div>
</body>
</html>