/* Resetta margini e padding di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*	background-color: rgba(243,219,191,255);	
}*/

#logo img {
	width: 225px;
	height: auto;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgb(238, 225, 202);
	border: 3px solid #b2724f;	
	box-shadow: 0 0 20px 7.5px #b2724f; /* Ombra marcata su ogni lato */
	transition: background-color 0.3s ease, transform 0.2s ease; /* Aggiunge transizioni fluide per colore di sfondo e trasformazione */
}
body {
	background-image: url('/libri.png');
	background-size: 250px 250px; /* Immagine ridotta a 100x100 pixel */
	background-repeat: repeat; /* Ripetizione in entrambe le direzioni */
}
/* Logo sopra i tasti */
.logo-home {
    text-align: center;
    margin-top: 20px;
}

#logo img {
    width: 225px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}



/* Sezione con i tasti */
.buttons-container {
    display: flex;
    justify-content: center; /* Centra i tasti orizzontalmente */
    gap: 20px; /* Spazio tra i tasti */
    margin-top: 50px;
    flex-wrap: wrap; /* Permette ai tasti di andare su più righe, se necessario */
}

.button {
    background-color: rgba(68,93,50,255);
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 60px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: rgba(68,93,50,255);
    transform: scale(1.1); /* Leggera animazione di ingrandimento al passaggio del mouse */
}

.button:active {
    transform: scale(0.98); /* Effetto "cliccabile" */
}

/* Adatta i tasti per schermi più piccoli */
@media (max-width: 768px) {
    .buttons-container {
        flex-direction: column;
        gap: 15px;
    }
}
